@use "v";

.about {
  height: fit-content;
  border-radius: 10px;
  background: v.$white;
  box-shadow: 0 0 2px 0 #00000050;
  margin: 10px;
}

.about__content {
  padding: 2rem;
  text-align: center;
  p {
    font-size: 2ch;
    margin: 1rem 2rem;
    text-align: left;
  }
  h3 {
    font-size: 2.4ch;
    text-align: left;
    margin: 3rem 2rem 0 2rem;
  }
}

.tag__section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: left;
}

.tag-option {
  background: v.$lighterPurple;
  border-radius: 10px;
  p {
    font-size: 1.6ch;
    color: v.$purple;
  }
  cursor: pointer;
}

.tag-option:hover {
  background: v.$purple;
  p {
    color: v.$white;
  }
}
