@use "v";

.navbar__content {
  display: flex;
  align-items: center;
  padding: v.$mdp;
  justify-content: space-between;
}

.navbar {
  background: v.$white;
  box-shadow: 0 0 2px 0 v.$lighterText;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.navbar__left,
.navbar__right {
  width: 100%;
}

.navbar__left {
  display: flex;
  align-items: flex-end;
  gap: v.$mdp;
}

.navbar__right {
  button {
    float: right;
  }
}

.navbar-image {
  width: 100px;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 6px;
  }
}

.navbar-search {
  height: 100%;
  width: 70%;
  input {
    font-size: 1.4ch;
    font-weight: 500;
    height: 100%;
    width: 70%;
    padding: 8px 10px;
  }
}
