@use "v";

.sidebar__item-content {
  display: flex;
  gap: v.$smr;
  width: 100%;
  padding: v.$mdp;
  height: 1.4rem;
  align-items: center;
  p {
    font-weight: 600;
  }
}
.sidebar__item {
  margin: 0 10px;
  border-radius: 6px;
}
.sidebar__item:hover {
  background: v.$lighterPurple;
  p {
    color: v.$purple;
    text-decoration: underline;
  }
}
